<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

    <div class="name">My Notes</div>

    <div class="parent">
        <form method="post" action="/add-note">
            <div>
                <textarea 
                    name="content"
                    placeholder="Write a note"
                    class="note"
                    required
                ></textarea>
            </div>
            <div>
                <button type="submit" class="Add-button">
                    &#43; Add Note
                </button>
            </div>
        </form>

                {% for note in notes %}
                <div class="note-item">
                    <p>{{ note.content }}</p>
                    <a href="/edit-note/{{ note.id }}">
                        <button class="edit-button">Edit</button>
                    </a>
                </div>
                {% endfor %}

    </div>

</body>
</html>
